---
import Card from "../../components/Card.astro"
import Layout from "../../layouts/Layout.astro"
import japan2024Thumb from "../../assets/thumbs/japan-2024.jpg"
import portraitsThumb from "../../assets/thumbs/portraits.jpg"
import landscapesThumb from "../../assets/thumbs/landscapes.jpg"
import three65Thumb from "../../assets/thumbs/313.jpg"
import miscThumb from "../../assets/thumbs/misc.jpg"
---

<Layout title="photos by nfrasser" url="/photos/">
	<h1>photos</h1>
	<ul class="main-grid" role="list" style="text-align: center;">
		<Card href="/photos/japan-2024/" title="japan 2024" thumb={japan2024Thumb} body="" />
		<Card href="/photos/portraits/" title="portraits" thumb={portraitsThumb} body="" />
		<Card href="/photos/landscapes/" title="landscapes" thumb={landscapesThumb} body="" />
		<Card href="/photos/365ish/" title="365 (ish)" thumb={three65Thumb} body="" />
		<Card href="/photos/misc/" title="miscellaneous" thumb={miscThumb} body="" />
	</ul>
</Layout>
